* {
  margin: 0;
  padding: 0;
  
}

body {
  display: flex;
  min-height: 100vh;
  padding-left: 270px;
  background-color: #130B43;
}

.barra-navegacion {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 31px;
  top: 0px;
  gap: 12px;
  height: 100vh;
}

.boton {
  background-color: #444;
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s;
  width: 75px;
  height: 100%;
}

.boton.activo {
  width: 165px;
}

#boton1.activo {
  background-color: #FF3E0A;
  background-image: url(imagen/Fboton.png);
}

#boton2.activo {
  background-color: #E8D106; 
  background-image: url(imagen/Fboton.png);
}

#boton3.activo {
  background-color: #00A3FF; 
  background-image: url(imagen/Fboton.png);
}

/* Cambios de color específicos para cada botón al pasar el mouse */
#boton1:hover {
  background-color: #FF3E0A;
}

#boton2:hover {
  background-color: #E8D106;
}

#boton3:hover {
  background-color: #00A3FF;
}

.contenido {
  margin-left: 165px;
  padding: 40px;
  width: calc(100% - 165px);
  background-color: #130B43;
  background-image: url(imagen/fondoP.png);
  background-size: contain;
  min-height: 100vh;
}

#boton1 {
  background-color: #FF3A05;
}

#boton2 {
  background-color: #B09E00;
}

#boton3 {
  background-color: #005E93;
}

.titulo {
  display: flex;
}