* {
  margin: 0;
  padding: 0;
  
}

body {
  display: flex;
  min-height: 100vh;
  padding-left: 270px;
  background-color: #130B43;
}

.barra-navegacion {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 31px;
  top: 0px;
  gap: 12px;
  height: 100vh;
}

.boton {
  background-color: #444;
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s;
  width: 75px;
  height: 100%;
}

.boton.activo {
  width: 165px;
}

#boton1.activo {
  background-color: #FF3E0A;
  background-image: url(imagen/Fboton.png);
}

#boton2.activo {
  background-color: #E8D106; 
  background-image: url(imagen/Fboton.png);
}

#boton3.activo {
  background-color: #00A3FF; 
  background-image: url(imagen/Fboton.png);
}

/* Cambios de color específicos para cada botón al pasar el mouse */
#boton1:hover {
  background-color: #FF3E0A;
}

#boton2:hover {
  background-color: #E8D106;
}

#boton3:hover {
  background-color: #00A3FF;
}

.contenido {
  margin-left: 165px;
  padding: 40px;
  width: calc(100% - 165px);
  background-color: #130B43;
  background-image: url(imagen/fondoP.png);
  background-size: contain;
  min-height: 100vh;
}

#boton1 {
  background-color: #C8330B;
}

#boton2 {
  background-color: #B09E00;
}

#boton3 {
  background-color: #005E93;
}

.titulo {
  display: flex;
}




/* Estilo general para las imágenes dentro del contenedor */
.contenedor-img {
  gap: 24px;
  position: relative; /* Necesario para posicionar el texto dentro del círculo */
  display: inline-block;
}

/* Estilo de las imágenes */
.botones img {

  width: 100px; /* Ajusta el tamaño de las imágenes */
  height: 100px;
  cursor: pointer; /* Cambia el cursor a pointer (mano) */
  transition: transform 0.3s, filter 0.3s; /* Añade animaciones suaves */
}

/* Efecto de hover sobre la imagen */
.botones img:hover {
  transform: scale(1.2); /* Agranda la imagen al pasar el mouse */
  filter: brightness(0.9); /* Cambia el tono de la imagen */
}

/* Estilo del texto que aparecerá en el hover */
.texto-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  font-weight: bold;
  opacity: 0; /* Oculto por defecto */
  transition: opacity 0.3s ease-in-out; /* Animación suave para la aparición del texto */
  pointer-events: none; /* Asegura que el texto no interfiera con el hover de la imagen */
}
.contenedor-img:hover .texto-hover {
  opacity: 1; /* Mostrar el texto al hacer hover */
}

/* Estilo del contenedor del círculo */
.circulo {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end; /* Coloca los botones al final del div */
  align-items: center; /* Centra verticalmente los botones en el div */
  height: 100px; /* Ajusta el tamaño del contenedor según sea necesario */
}
.circulo2 {
  position: absolute;
  top: 2200px;
  left: 1620px;
  display: flex;
  justify-content: flex-end; /* Coloca los botones al final del div */
  align-items: center; /* Centra verticalmente los botones en el div */
  height: 100px; /* Ajusta el tamaño del contenedor según sea necesario */
}
